/* COLORS */
$black: #1b1b1b;
$white: #ffffff;
$blue: #3657d3;
$gray: #8d959c;

/* FONTS */
$font-size-xxl: 56px;
$line-height-xxl: 66px;

$font-size-xl: 34px;
$line-height-xl: 46px;

$font-size-lg: 22px;
$line-height-lg: 30px;

$font-size-md: 18px;
$line-height-md: 26px;

$font-size-sm: 14px;
$line-height-sm: 20px;

/* BREAKPOINTS */
$screen-xs: 320px;
$screen-sm: 606px;
$screen-md: 768px;
$screen-lg: 900px;
$screen-xl: 1000px;
$screen-xxl: 1400px;
